/* General Styles */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --main-color: #ff0000;
    --text-color: #020307;
    --bg-color: #ffffff;
    --tmp-color: rgb(26, 1, 250);
    --tmp2-color: rgb(250, 221, 221);
}

body {
    color: var(--bg-color);
    background-color: var(--text-color);
}


/* Mouse Cursor Styles */

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: rgb(202, 202, 202);
}

.cursor-outline {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(202, 202, 202);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}


/* Top Header Styles */

.top-header {
    background-color: var(--text-color);
    color: var(--bg-color);
    width: 100%;
    padding: 10px 0;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-left ul {
    padding: 3px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
}

.header-left ul li {
    display: flex;
    align-items: center;
}

.header-left ul li a {
    color: var(--bg-color);
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.header-left ul li a:hover {
    color: var(--main-color);
    transform: scale(1.1);
}

.header-right ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

.header-right ul li {
    display: flex;
    align-items: center;
}

.header-right ul li a {
    margin-right: 20px;
    color: var(--bg-color);
}

.header-right ul li i {
    color: var(--main-color);
    margin-right: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    background-color: var(--bg-color);
    border-radius: 20px
}

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;
}

.bx-search-alt-2 {
    margin-left: 15px;
    color: var(--text-color);
}

.bxs-cart {
    margin-left: 15px;
    font-size: 30px;
}


/* Main Header Styles */

.main-header {
    height: 100px;
    max-width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    animation: 1s ease-in-out;
}

.main-header .logo img {
    margin-left: 40px;
    height: 100px;
    max-width: 100%;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.navbar li {
    position: relative;
    margin-right: 20px;
}

.navbar a {
    margin-right: 30px;
    text-decoration: none;
    color: #333;
    display: block;
}

.navbar a:hover {
    color: var(--main-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    min-width: 200px;
}

.dropdown-content li a {
    padding: 10px;
    color: #333;
    animation: 2s infinite;
}

.dropdown-content li a:hover {
    color: var(--main-color);
}

.dropdown:hover .dropdown-content {
    display: block;
    color: var(--bg-color);
    background-color: var(--bg-color);
}


/* Keyframes for Animations */

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes highlight {
    0% {
        background-color: #fff;
        color: #333;
    }
    50% {
        background-color: #f8f9fa;
        color: #000;
    }
    100% {
        background-color: #fff;
        color: #333;
    }
}